@font-face{
	font-family: Clear;
	src: url(fonts/ClearSans/TTF/ClearSans-Regular.ttf);
}
@font-face{
	font-family: Clear-Bold;
	src: url(fonts/ClearSans/TTF/ClearSans-Bold.ttf);
}
*{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	transition: transform ease .5s;
}
body{
	margin:0;
	padding:0;
}
#wrapper{
	width:100%;
	height:525%;
	position: absolute;
	display:block;
	float: left;

	font-family: Clear;
	background: #FFFF77;
	color: ##3F4037;
}
.card{
	position: fixed;
	display: block;
	width: 370px;
	height: 195px;

	left:50%;
	top:50%;
	margin-left: -200px;
	margin-top: -112.5px;
	padding: 30px;

	color: #ef4036;
	background: #fff;
	box-shadow: -5px 5px 0px rgba(0,0,0,.2);

	z-index: 2;

	font-family: Clear-Bold;
	line-height: 80%;
}
.card span{
	display: block;
	margin-top: 40%;
}
a:link{
	color: #ef4036;
}

/*SLIDES*/

.slide{
	position: relative;
	width: 100%;
	height: 20%;
	display: block;
	overflow: hidden;

	color: #fff;
	font-family: Clear-Bold;
	line-height: 80%;
	text-align: center;
}
.slide h2{
	font-size: 1.5em;
}
.slide p{
	font-size: 1.2em;
}
.slide:nth-child(2){
	/*title*/
	background: #fbaf3f;
}
.slide:nth-child(3){
	/*interface designer*/
	background: #652c90;
}
.slide:nth-child(4){
	/*recruits*/
	background: #3d6db2;
	/*background-image: url(img/pat.png);*/
}
.slide:nth-child(4) svg{
	position: absolute;
	left: 0;
	top: 0;
}
.slide:nth-child(4) img{
	position: absolute;
	left: 0;
	top: 0;
}
.slide:nth-child(5){
	/*projection mapping*/
	background-image: url(img/0-27.gif);
	background-size: 100%;
	background-position: -20%;
}
.slide:nth-child(6){
	background: #fbaf3f;
}
#piclinks{
	padding-top: 50px;
}
.bgsvg{
	position: absolute;
	height: 100%;
	left:0;
}
#scr{
	left:-500px;
}

/*INTERFACE*/

#eatout_next{
	position: absolute;
	width: 170px;
	height: 45px;
	display: block;
	text-align: left;
	background: #6d90ca;
	box-shadow: 0px 5px 0px #4d68b1 !important; 

	left: 315px;
	top: 60px;
}
#eatout_next svg{
	position: relative;
	left: 0px;
	top: 0px;
}
#eatout_search{
	position: absolute;
	left: 795px;
	top: 85px;
}
#eatout_search input{
	height: 48px;
	width: 423px;
	border: 2px dotted #4d68b1;
	box-shadow: 0px 10px 0px #4d68b1 !important;
}
#eatout_search svg{
	position: absolute;
	left: 0px;
	top: 0px;
}
#BN_datetime{
	position: absolute;
	width: 310px;
	height: 175px;
	text-align: left;
	left: 60px;
	top: 185px;

	background: #636AB1;
}
#BN_datetime span{
	position: absolute;
	margin: 0px 0px 10px 50px;
}
#BN_datetime h2{
	position: relative;
	margin-left: 20px;
}
#BN_datetime svg{
	position: absolute;
	top: 0;
	left: 0;
}
#BN_helpme{
	position: absolute;
	width: 315px;
	height: 48px;
	left: 930px;
	top: 265px;
}
#eatout_cancel{
	position: absolute;
	width: 170px;
	height: 45px;
	display: block;
	text-align: left;
	background: #f79e7b;
	box-shadow: 0px 5px 0px #f47d52 !important; 

	left: 255px;
	top: 515px;
}
#eatout_cancel svg{
	position: relative;
	left: 0px;
	top: 0px;
}
#eatout_sugg{
	position: absolute;
	width: 270px;
	height: 50px;
	display: block;
	text-align: left;
	background: #92278F;

	left: 625px;
	top: 565px;
}
#eatout_sugg svg{
	position: relative;
	left: 0px;
	top: 0px;
}
#eatout_sugg span{
	position: relative;
	width: 220px;
	font-size: 16pt;
	top: -35px;
	left: 60px;
}

/*SHADOWS*/
#shadows{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;

	/*transform: perspective(1200);*/
}
#sh1{
	position: absolute;
	width: 170px;
	height: 50px;

	left: 315px;
	top: 60px;

	background: rgba(0,0,0,.2);
}
#sh2{
	position: absolute;
	width: 425px;
	height: 60px;

	left: 795px;
	top: 85px;

	background: rgba(0,0,0,.2);
}
#sh3{
	position: absolute;
	width: 310px;
	height: 175px;
	
	left: 60px;
	top: 185px;

	background: rgba(0,0,0,.2);
}
#sh4{
	position: absolute;
	width: 315px;
	height: 48px;
	
	left: 930px;
	top: 265px;

	background: rgba(0,0,0,.2);
}
#sh5{
	position: absolute;
	width: 170px;
	height: 45px;

	left: 255px;
	top: 515px;

	background: rgba(0,0,0,.2);
}
#sh6{
	position: absolute;
	width: 270px;
	height: 50px;

	left: 625px;
	top: 565px;

	background: rgba(0,0,0,.2);
}

/*HELPERS*/

.divider{
	display: block;
	height: 62.5%;
}