@font-face{
	font-family: Clear;
	src: url(fonts/ClearSans/TTF/ClearSans-Regular.ttf);
}
@font-face{
	font-family: Clear-Bold;
	src: url(fonts/ClearSans/TTF/ClearSans-Bold.ttf);
}
body{
	margin:0;
	padding:0;
}
#wrapper{
	width:100%;
	height:500%;
	position: absolute;
	display:block;
	float: left;

	font-family: Clear;
	background: #FFFF77;
	color: ##3F4037;
}
.card{
	position: fixed;
	display: block;
	width: 370px;
	height: 195px;

	left:50%;
	top:50%;
	margin-left: -200px;
	margin-top: -112.5px;
	padding: 30px;

	color: #ef4036;
	background: #fff;

	z-index: 2;

	font-family: Clear-Bold;
	line-height: 80%;
}
.card-shadow{
	position: fixed;
	display: block;
	width: 370px;
	height: 195px;

	left:50%;
	top:50%;
	margin-left: -205px;
	margin-top: -107.5px;
	padding: 30px;

	z-index: 1;

	background: #5A5E61;
	opacity: .1;
}
.slide{
	width: 100%;
	height: 20%;
	display: block;

	color: #fff;
	font-family: Clear-Bold;
	line-height: 80%;
	text-align: center;
}
.slide h2{
	font-size: 1.5em;
}
.slide p{
	font-size: 1.2em;
}
.slide:nth-child(3){
	background: #fbaf3f;
}
.slide:nth-child(4){
	background: #367ca3;
}
.slide:nth-child(5){
	background: #652c90;
}
.slide:nth-child(6){
	background: #08090a;
}
.slide:nth-child(7){
	background: #fbaf3f;
}
#piclinks{
	padding-top: 50px;
}


.divider{
	display: block;
	height: 62.5%;
}